@charset "utf-8";
/* CSS Document */

#head {
	width: 100%;
	margin: 0;
	display: block;
}
.head_nav {
	width: 100%;
	padding: 3px;
	position: absolute;
	z-index: 500;
	background-color:rgba(48, 81, 116, 0.72);
}
.box {
	display: inline-block;
	width: 50%;


	padding-top: 1em;
	padding-right: 2em;
	padding-left: 2em;
	margin-top: 1em;
}
.box_section {
	display: flex;  
}
.section-title {
    margin-bottom: 2em;
    position: relative;
}
.section-title:after {
    content: '';
    position: absolute;
    width: 3em;
    height: 3px;
    background: #00b230;
    bottom: -37px;
    left: 0;
}
.section-title-centr {
    margin-bottom: 2em;
    position: relative;
}
.section-title-centr:after {
    content: '';
    position: absolute;
    width: 3em;
    height: 3px;
    background: #00b230;
    bottom: -37px;
    left: 50%;
    margin-left: -60px;
}
.center-img {display:block; margin:0 auto;}